<?xml version='1.0' encoding='utf-8'?>
<plugin
    id="cordova-plugin-spothero"
    version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
>
    <name>SpotHeroSDK</name>

    <platform name="ios">
        <js-module name="SpotHeroSDK" src="www/SpotHeroSDK.js">
            <clobbers target="cordova.plugins.SpotHeroSDK" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="SpotHeroSDK">
                <param name="ios-package" value="SpotHeroSDK" />
            </feature>
        </config-file>
        <source-file src="src/ios/SpotHeroSDK.swift" />
        <dependency
            id="cordova-plugin-add-swift-support"
            url="https://github.com/akofman/cordova-plugin-add-swift-support"
        />
        <dependency
            id="cordova-plugin-cocoapod-support"
            url="https://github.com/blakgeek/cordova-plugin-cocoapods-support"
        />
        <pods-config ios-min-version="9.0" uses-frameworks="true" />
        <pod id="SpotHero_iOS_Partner_SDK" git="https://github.com/spothero/Partner-SDK-iOS" branch="master" />
    </platform>
</plugin>
